.circle {
  /* for circle logo */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
h1 {
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
  padding: 0;
}

p {
  font-family: 'Roboto';
}
.green {
  background-color: rgb(0, 143, 0);
}

.red {
  background-color: rgb(170, 0, 0);
}

.list-card {
  list-style: none;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.cont-1 {
  display: inline-block;
}

.cont-in {
  width: 7%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  width: 50%;
  align-self: flex-start;
  padding-left: 10px;
  box-sizing: border-box;
}
.g-border {
  border: 3px solid rgb(0, 143, 0);
}

.r-border {
  border: 3px solid rgb(170, 0, 0);
}

.dish-name {
  color: rgb(15, 15, 15);
}

.dish-sar {
  color: rgb(107, 107, 107);
  font-size: 15px;
  font-weight: bold;
}

.dish-description {
  color: rgb(193, 193, 193);
  font-size: 13px;
}

.btn-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  background-color: rgb(43, 128, 43);
  border-radius: 35px;
  padding: 5px 10px;
}

button {
  background-color: transparent;
  font-size: 20px;
  color: rgb(246, 246, 246);
  border: 0;
  cursor: pointer;
}

.count {
  color: rgb(246, 246, 246);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.avail {
  color: rgb(247, 54, 54);
  font-size: 16px;
}

.custom {
  color: rgb(0, 133, 210);
  font-size: 16px;
  margin: 0;
  padding-top: 10px;
}

.cal-cont {
  width: 20%;
  box-sizing: border-box;
  text-align: center;
}

.calories {
  color: rgb(255, 136, 24);
  font-size: 13px;
}

.image-cont {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dish-img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .calories {
    font-size: 25px;
  }

  .dish-description {
    font-size: 22px;
  }

  .dish-img {
    width: 100%;
  }
  h1 {
    font-size: 25px;
  }

  .dish-sar {
    font-size: 23px;
  }

  .dish-description {
    font-size: 18px;
  }

  .avail {
    font-size: 20px;
  }

  .custom {
    font-size: 22px;
  }

  button {
    font-size: 40px;
  }

  .count {
    font-size: 25px;
  }

  .btn-cont {
    width: 150px;
  }

  .calories {
    font-size: 18px;
  }

  .dish-img {
    height: 200px;
    width: 130px;
  }
}
